/* Font Family */
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.manrope-font {
  font-family: "Manrope", system-ui;
}
.poppins-font {
  font-family: "Poppins", system-ui;
}

/* Common CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
li,
a {
  list-style-type: none;
  text-decoration: none;
  border: none;
}

/* Header Styles */
header {
  padding-top: 16px;
  background: #1c1e53;
}
header .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-items: center;
}
header .nav-right {
  color: white;
  display: flex;
  gap: 48px;
  justify-items: center;
  justify-content: center;
  align-items: center;
}
header .nav-right button {
  border-radius: 41px;
  border: 2px solid rgba(244, 246, 252, 0.2);
  color: white;
  padding: 16px 48px;
  background: transparent;
}
header .nav-right button a {
  color: white;
}
header ul {
  display: flex;
  gap: 32px;
  padding-top: 20px;
}
header ul li {
  display: flex;
  gap: 32px;
}
header ul li a {
  color: #bbbbcb;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
}
header ul li a:hover {
  color: white;
  cursor: pointer;
}
header ul li a:visited {
  color: white;
}

/* About Section Start */
.about-section{
    padding: 128px 0;
}
 .about-section .col-lg-6 h6{
    color: var(--Dark-blue, #282938);
font-family: Poppins;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 32px; 
}
 .about-section .col-lg-6 h1{
    color: var(--Dark-blue, #282938);
    font-family: Poppins;
    font-size: 54px;
    font-style: normal;
    font-weight: 600;
    line-height: 74px;
    max-width: 595px;
    margin-top: 8px;
    margin-bottom: 31px;
}
 .about-section .col-lg-6 p{
    color: var(--Dark-blue, #282938);
text-align: justify;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 28px;
    max-width: 595px;
    opacity: 0.7;
}
 .about-section .col-lg-6 img{
    margin-left: 80px;
}

/* What We Section Styles */

.what-we-r .container{
    background: #F4F5F5;
    padding: 80px;
    max-width: 1295px;
}
.what-we-r .container .col-lg-6 h3{
    color: var(--Dark-blue, #282938);
font-family: Poppins;
font-size: 38px;
font-style: normal;
font-weight: 600;
line-height: 56px; 
}
.what-we-r .container .col-lg-6 p{
    color: var(--Dark-blue, #282938);
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 28px; 
opacity: 0.7;
max-width: 515px;
}
.what-we-r .container .col-lg-6 h6{
    color: var(--Dark-blue, #282938);
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 28px;
}
.what-we-r .container .right{
   margin-top: 38px;
}

/* Process Section Styles */
.process-section{
    padding: 128px 0;
}
.process-section .col-lg-12 h2{
    margin-bottom: 48px;
}
.process-section .col-lg-3 img{
    margin-right:24px ;
    margin-bottom: 32px;
}
.process-section .col-lg-3 h3{
  color: var(--Dark-blue, #282938);
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px;
  margin-bottom: 8px;
}
.process-section .col-lg-3 p{
  color: var(--Dark-blue, #282938);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  opacity: 0.7;
}

/* Mission Section Styles */
.mission-section{
  background: var(--Accent, #EEF4FA);
  padding: 128px 0;
}
.mission-section .upper{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mission-section .upper h6{
  color: var(--Dark-blue, #282938);
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 28px;
}
.mission-section .upper h3{
  color: var(--Dark-blue, #282938);
  font-family: Poppins;
  font-size: 38px;
  font-style: normal;
  font-weight: 600;
  line-height: 56px;
  margin: 16px 0;
}
.mission-section .upper p{
  color: var(--Dark-blue, #282938);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  opacity: 0.7;
  max-width: 623px;
}
.mission-section .lower{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 96px;
}
.mission-section .lower h6{
  color: var(--Dark-blue, #282938);
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 28px;
}
.mission-section .lower h3{
  color: var(--Dark-blue, #282938);
  font-family: Poppins;
  font-size: 38px;
  font-style: normal;
  font-weight: 600;
  line-height: 56px;
  margin: 16px 0;
}
.mission-section .lower p{
  color: var(--Dark-blue, #282938);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  opacity: 0.7;
  max-width: 623px;
}

/* Benefits Section Styles */
.benefits-section{
  padding: 128px 0;
}
.benefits-section .col-lg-12 h2{
  color: var(--Dark-blue, #282938);
text-align: center;
font-family: Poppins;
font-size: 48px;
font-style: normal;
font-weight: 600;
line-height: 64px;
margin-bottom: 48px;
}
.benefits-section .col-lg-4 .cards{
  background: var(--Grey, #F4F6FC);
  padding: 20px 40px;
  margin-bottom: 48px;
}
.benefits-section .col-lg-4 .cards h4{
  color: var(--Dark-blue, #282938);
font-family: Poppins;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 36px;
margin-top: 26px;
margin-bottom: 12px;
}
.benefits-section .col-lg-4 .cards p{
  color: var(--Dark-blue, #282938);
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 28px;
}
.benefits-section .col-lg-12 .benefits-icon{
  display: flex;
justify-content: space-between;
  align-items: center;
}
.benefits-section .col-lg-12 .benefits-icon img{
  margin-left:56px ;
}

/* Team Section Styles */
.team-section{
  background: var(--Grey, #F4F6FC);
  padding: 128px 0;
}
.team-section .col-lg-12 h2{
  color: var(--Dark-blue, #282938);
text-align: center;
font-family: Poppins;
font-size: 48px;
font-style: normal;
font-weight: 600;
line-height: 64px;
margin-bottom: 48px;
}
.team-section .col-lg-12 .cards{
  background: #FFF;
  padding: 48px 0 32px 0;
}
