/* Font Family */
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.manrope-font {
  font-family: "Manrope", system-ui;
}
.poppins-font {
  font-family: "Poppins", system-ui;
}

/* Common CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
li,
 a{
  list-style-type: none;
  text-decoration: none;
  
}


/* Header Styles */
header {
  padding-top: 16px;
  background: #1c1e53;
}
header .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-items: center;
}
header .nav-right {
  color: white;
  display: flex;
  gap: 48px;
  justify-items: center;
  justify-content: center;
  align-items: center;
}
header .nav-right button {
  border-radius: 41px;
  border: 2px solid rgba(244, 246, 252, 0.2);
  color: white;
  padding: 16px 48px;
  background: transparent;
}
header .nav-right button a {
  color: white;
}
header ul {
  display: flex;
  gap: 32px;
  padding-top: 20px;
}
header ul li {
  display: flex;
  gap: 32px;
}
header ul li a {
  color: #bbbbcb;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
}
header ul li a:hover {
  color: white;
  cursor: pointer;
}
header ul li a:active {
  color: white;
}



/* Case Banner Styles */
.case-banner{
    padding: 128px;
}
.case-banner h4{
    color: var(--Dark-blue, #282938);
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
    opacity: 0.8;
    margin-bottom: 12px;
}
.case-banner h1{
    color: var(--Dark-blue, #282938);
font-family: Poppins;
font-size: 48px;
font-style: normal;
font-weight: 600;
line-height: 64px;
width: 646px;
margin-bottom: 16px;
}
.case-banner p{
    color: var(--Dark-blue, #282938);
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 28px;
max-width: 817px;
margin-bottom: 48px;
opacity: 0.7;
}
.case-banner .gradient{
    background: linear-gradient(131deg, #F4EDE1 16.74%, #98B1C6 103.17%);
    padding: 62px 87px;
    margin-bottom: 48px;
    text-align: center;

}
.case-banner .col-lg-3 h6, .col-lg-4 h6{
    color: var(--Dark-blue, #282938);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    opacity: 0.8;
}
.case-banner .col-lg-3 h5, .col-lg-4 h5{
    
    color: var(--Dark-blue, #282938);
font-family: Poppins;
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: 36px;
}
.case-banner hr{
    opacity: 0.3;
    background: #282938;
}

/* About Project */
.about-project{
    padding-bottom: 128px;
}
.about-project h2{
    color: var(--Dark-blue, #282938);
font-family: Poppins;
font-size: 38px;
font-style: normal;
font-weight: 600;
line-height: 56px;
margin-bottom: 12px;
}
.about-project p{
    color: var(--Dark-blue, #282938);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    opacity: 0.7;
    margin-bottom: 24px;
}
.about-project li{
    color: var(--Dark-blue, #282938);
text-align: justify;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 28px;
opacity: 0.7;
list-style-type: disc;
margin-bottom: 16px;
}
.about-project .gradient{
    background: linear-gradient(131deg, #F4EDE1 16.74%, #98B1C6 103.17%);
    padding: 42px 57px 43px 57px;
    align-items: center;
    justify-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 64px;
}


/* Keywords Contact Section Styles */
.keywords-contact{
  padding-bottom: 128px;
}
.keywords-contact hr{
  opacity: 0.2;
background: #282938;
}
.keywords-contact ul{
 display: flex;
 gap: 53px;
}
.keywords-contact ul li{
  color: var(--Dark-blue, #282938);
  text-align: justify;
  font-family: Poppins;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  opacity: 0.7;
}
.keywords-contact ul li:hover{
  color: var(--Royal-Blue, #2405F2);
font-family: Poppins;
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: 36px;
cursor: pointer;
}
.keywords-contact .contact h2{
  color: var(--Dark-blue, #282938);
text-align: center;
font-family: Poppins;
font-size: 48px;
font-style: normal;
font-weight: 600;
line-height: 36px;
margin-top: 128px;
margin-bottom: 20px;
}
.keywords-contact .contact p{
  color: var(--Dark-blue, #282938);
text-align: center;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 28px;
max-width: 624px;
margin: 0 auto;
opacity: 0.7;
}
.keywords-contact .contact .btn{
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
.keywords-contact .contact .btn button:hover{
  background: #1B1C2B;
}
.keywords-contact .contact .btn button{
  display: flex;
  justify-content: center;
  border: none;
  padding: 16px 67px 16px 66px;
  border-radius: 41px;
background: #FCD980;

}
.keywords-contact .contact a{
  color: #1B1C2B;
font-family: Manrope;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: 32px;
}
.keywords-contact .contact a:hover{
  color: #FFF;
}



/* Footer Section Styles */
footer{
    background: #1C1E53;
    padding-top: 96px;
}
footer .col-lg-6 .contact-info{
    background: var(--Yellow, #FCD980);
    display: flex;
    padding-top: 18px;
    padding-left: 38px;
    padding-bottom: 16px;
    gap: 29px;
    max-width: 519px;
    margin-top: 86px;
}
footer .col-lg-6 .contact-info h5{
    color: var(--Dark-blue, #282938);
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
}
footer .col-lg-6 .contact-info p{
    color: var(--Dark-blue, #282938);
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 28px;
opacity: 0.8;
}
footer .col-lg-6 .left-p{
    color: var(--White, #FFF);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    max-width: 399px;
    margin-top: 22px;
    margin-bottom: 86px;
}

footer .col-lg-6 h2{
    color: #FFF;
font-family: Poppins;
font-size: 48px;
font-style: normal;
font-weight: 600;
line-height: 64px; 
  
}
footer .col-lg-6 .right-p{
    color: var(--Grey, #F4F6FC);
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 28px;
max-width: 399px;
margin-top: 14px;
margin-bottom: 28px;
}


/* Copyright Section */
.copyright{
    margin-top: 32px;
    padding-bottom: 32px;
    display: flex;
    justify-content: space-between;
}
.copyright ul{
   display: flex;
}
.copyright ul li{
   margin-left: 32px;
}
