/* Font Family */
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.manrope-font {
  font-family: "Manrope", system-ui;
}
.poppins-font {
  font-family: "Poppins", system-ui;
}

/* Common CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
li,
 a{
  list-style-type: none;
  text-decoration: none;
  
}


/* Header Styles */
header {
  padding-top: 16px;
  background: #1c1e53;
}
header .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-items: center;
}
header .nav-right {
  color: white;
  display: flex;
  gap: 48px;
  justify-items: center;
  justify-content: center;
  align-items: center;
}
header .nav-right button {
  border-radius: 41px;
  border: 2px solid rgba(244, 246, 252, 0.2);
  color: white;
  padding: 16px 48px;
  background: transparent;
}
header .nav-right button a {
  color: white;
}
header ul {
  display: flex;
  gap: 32px;
  padding-top: 20px;
}
header ul li {
  display: flex;
  gap: 32px;
}
header ul li a {
  color: #bbbbcb;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
}
header ul li a:hover {
  color: white;
  cursor: pointer;
}
header ul li a:active {
  color: white;
}

/* Contact Section Styles */
.contact-section{
    padding: 128px;
}
.contact-section h1{
    color: var(--Dark-blue, #282938);
    text-align: center;
    font-family: Poppins;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    margin-bottom: 16px;
}
.contact-section p{
    color: var(--Dark-blue, #282938);
text-align: center;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 28px;
opacity: 0.7;
max-width: 562px;
margin: 0 auto;

}
.contact-section .col-lg-10{
    border-radius: 12px;
background: var(--Grey, #F4F6FC);
margin: 0 auto;
padding: 55px 77px;
margin-top: 64px;

}
.contact-section .col-lg-10 label{
    color: #000;
font-family: Poppins;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 32px; 
margin-bottom: 6px;

}
.contact-section .col-lg-10 input{
    padding: 18px 32px;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    background: transparent;
    margin-bottom: 16px;
}
.contact-section .col-lg-10 input::placeholder{
    color: #000;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 28px;
}
.contact-section .col-lg-10 .upper{
   flex-direction: row;
   display: flex;
   justify-content: space-between;

}
.contact-section .col-lg-10 .top{
   flex-direction: column;
   display: flex;
   width: 438px;

}
.contact-section .col-lg-10 .bottom{
   flex-direction: column;
   display: flex;
   width: 438px;

}
.contact-section .col-lg-10 .msg{
   flex-direction: column;
   display: flex;
   width: 100%;

}
.contact-section .col-lg-10 .msg input{
   padding-bottom: 92px;

}
.contact-section .col-lg-10 button{
   border: none;
   border-radius: 41px;
background: var(--Dark-blue, #282938);
margin-top: 32px;
padding: 20px 51px;
}
.contact-section .col-lg-10 button a{
    color: var(--Grey, #F4F6FC);
font-family: Manrope;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: 32px;
    
    
}


/* Footer Section Styles */
footer{
    background: #1C1E53;
    padding-top: 96px;
}
footer .col-lg-6 .contact-info{
    background: var(--Yellow, #FCD980);
    display: flex;
    padding-top: 18px;
    padding-left: 38px;
    padding-bottom: 16px;
    gap: 29px;
    max-width: 519px;
    margin-top: 86px;
}
footer .col-lg-6 .contact-info h5{
    color: var(--Dark-blue, #282938);
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
}
footer .col-lg-6 .contact-info p{
    color: var(--Dark-blue, #282938);
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 28px;
opacity: 0.8;
}
footer .col-lg-6 .left-p{
    color: var(--White, #FFF);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    max-width: 399px;
    margin-top: 22px;
    margin-bottom: 86px;
}

footer .col-lg-6 h2{
    color: #FFF;
font-family: Poppins;
font-size: 48px;
font-style: normal;
font-weight: 600;
line-height: 64px; 
  
}
footer .col-lg-6 .right-p{
    color: var(--Grey, #F4F6FC);
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 28px;
max-width: 399px;
margin-top: 14px;
margin-bottom: 28px;
}


/* Copyright Section */
.copyright{
    margin-top: 32px;
    padding-bottom: 32px;
    display: flex;
    justify-content: space-between;
}
.copyright ul{
   display: flex;
}
.copyright ul li{
   margin-left: 32px;
}
