/* Font Family */
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.manrope-font {
  font-family: "Manrope", system-ui;
}
.poppins-font {
  font-family: "Poppins", system-ui;
}

/* Common CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
li,
a {
  list-style-type: none;
  text-decoration: none;
  border: none;
}

/* Header Styles */
header {
  padding-top: 16px;
  padding-bottom: 128px;
  background: #1c1e53;
}
header .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-items: center;
  margin-bottom: 126px;
}
header .nav-right {
  color: white;
  display: flex;
  gap: 48px;
  justify-items: center;
  justify-content: center;
  align-items: center;
}
header .nav-right button {
  border-radius: 41px;
  border: 2px solid rgba(244, 246, 252, 0.2);
  color: white;
  padding: 16px 48px;
  background: transparent;
}
header .nav-right button a {
  color: white;
}
header ul {
  display: flex;
  gap: 32px;
  padding-top: 20px;
}
header ul li {
  display: flex;
  gap: 32px;
}
header ul li a {
  color: #bbbbcb;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
}
header ul li a:hover {
  color: white;
  cursor: pointer;
}
header ul li a:visited {
  color: white;
}
/* Banner Section Styles */

.banner-contents h1 {
  color: var(--White, #fff);
  font-family: Poppins;
  font-size: 54px;
  font-weight: 600;
  line-height: 74px;
  margin-bottom: 24px;
}
.banner-contents p {
  color: var(--White, #fff);

  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  opacity: 0.7;
  margin-bottom: 48px;
}
.banner-contents .btn-left {
  padding: 16px 56px;
  border-radius: 41px;
  background: #fcd980;
}
.banner-contents .btn-left a {
  color: #1b1c2b;
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
}

.banner-contents .btn-right {
  padding: 16px 56px;
  border-radius: 41px;
  background: transparent;
  border: none;
  color: #1b1c2b;
}
.banner-contents .btn-right:hover {
  background: #fcd980;
  transition: all linear 0.5s;
}

.banner-contents .btn-right a {
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  color: white;
}
.banner-contents .btn-right a:hover {
  color: black;
  transition: all linear 0.5s;
}

/* Benefits Section Styles */
.benefits-section{
    padding: 128px 0;
  }
  .benefits-section .col-lg-12 h2{
    color: var(--Dark-blue, #282938);
  text-align: center;
  font-family: Poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 64px;
  margin-bottom: 48px;
  }
  .benefits-section .col-lg-4 .cards{
    background: var(--Grey, #F4F6FC);
    padding: 20px 40px;
  }
  .benefits-section .col-lg-4 .cards h4{
    color: var(--Dark-blue, #282938);
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  margin-top: 26px;
  margin-bottom: 12px;
  }
  .benefits-section .col-lg-4 .cards p{
    color: var(--Dark-blue, #282938);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  }
  .benefits-section .col-lg-12 .benefits-icon{
    display: flex;
  justify-content: space-between;
    align-items: center;
    margin-bottom: 96px;
  }
  .benefits-section .col-lg-12 .benefits-icon img{
    margin-left:56px ;
  }


  /* Mission Section Styles */
.mission-section{
  background: var(--Accent, #EEF4FA);
  padding: 128px 0;
  background: rgba(252, 217, 128, 0.10);
}
.mission-section .upper{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mission-section .upper h6{
  color: var(--Dark-blue, #282938);
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 28px;
}
.mission-section .upper h3{
  color: var(--Dark-blue, #282938);
  font-family: Poppins;
  font-size: 38px;
  font-style: normal;
  font-weight: 600;
  line-height: 56px;
  margin: 16px 0;
}
.mission-section .upper p{
  color: var(--Dark-blue, #282938);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  opacity: 0.7;
  max-width: 623px;
}
.mission-section .lower{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 96px;
  gap: 40px;
  
}
.mission-section .lower h6{
  color: var(--Dark-blue, #282938);
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 28px;
}
.mission-section .lower h3{
  color: var(--Dark-blue, #282938);
  font-family: Poppins;
  font-size: 38px;
  font-style: normal;
  font-weight: 600;
  line-height: 56px;
  margin: 16px 0;
}
.mission-section .lower p{
  color: var(--Dark-blue, #282938);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  opacity: 0.7;
  max-width: 623px;
}
  /* Mission Section Styles */
.mission-section{
  padding: 128px 0;
  background: #FFF;
}
.mission-section .upper{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mission-section .upper h6{
  color: var(--Dark-blue, #282938);
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 28px;
}
.mission-section .upper h3{
  color: var(--Dark-blue, #282938);
  font-family: Poppins;
  font-size: 38px;
  font-style: normal;
  font-weight: 600;
  line-height: 56px;
  margin: 16px 0;
}
.mission-section .upper p{
  color: var(--Dark-blue, #282938);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  opacity: 0.7;
  max-width: 623px;
}
.mission-section-2{
  padding: 128px 0;
  background: var(--Grey, #F4F6FC);
}
.mission-section-2 .lower{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}
.mission-section-2 .lower h6{
  color: var(--Dark-blue, #282938);
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 28px;
}
.mission-section-2 .lower h3{
  color: var(--Dark-blue, #282938);
  font-family: Poppins;
  font-size: 38px;
  font-style: normal;
  font-weight: 600;
  line-height: 56px;
  margin: 16px 0;
}
.mission-section-2 .lower p{
  color: var(--Dark-blue, #282938);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  opacity: 0.7;
  max-width: 623px;
}
.mission-section-3{
  padding: 128px 0;
  background: #FFF;
}
.mission-section-3 .upper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}
.mission-section-3 .upper h6{
  color: var(--Dark-blue, #282938);
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 28px;
}
.mission-section-3 .upper h3{
  color: var(--Dark-blue, #282938);
  font-family: Poppins;
  font-size: 38px;
  font-style: normal;
  font-weight: 600;
  line-height: 56px;
  margin: 16px 0;
}
.mission-section-3 .upper p{
  color: var(--Dark-blue, #282938);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  opacity: 0.7;
  max-width: 623px;
}
.mission-section-4{
  padding: 128px 0;
  background: rgba(252, 217, 128, 0.10);
}
.mission-section-4 .lower{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}
.mission-section-4 .lower h6{
  color: var(--Dark-blue, #282938);
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 28px;
}
.mission-section-4 .lower h3{
  color: var(--Dark-blue, #282938);
  font-family: Poppins;
  font-size: 38px;
  font-style: normal;
  font-weight: 600;
  line-height: 56px;
  margin: 16px 0;
}
.mission-section-4 .lower p{
  color: var(--Dark-blue, #282938);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  opacity: 0.7;
  max-width: 623px;
}


/* FAQ Section Styles */
.faq-section {
    background: #fff;
    padding: 128px 0;
  }
  .faq-section .col-lg-4 h2 {
    color: var(--Dark-blue, #282938);
    font-family: Poppins;
    font-size: 38px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
  }
  .faq-section .col-lg-4 button {
    border: none;
    background: none;
    margin-top: 16px;
  }
  .faq-section .col-lg-8 h3 {
    color: var(--Royal-Blue, #2405f2);
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px;
  }
  .faq-section .col-lg-8 h4 {
    color: var(--Dark-blue, #282938);
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px;
  }
  .faq-section .col-lg-8 .qs-1 {
    display: flex;
    justify-content: space-between;
  }
  .faq-section .col-lg-8 .qs-1 .qs-1-left {
    display: flex;
    justify-content: space-between;
    gap: 59px;
  }
  .faq-section .col-lg-8 .qs-2 {
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
    margin-bottom: 32px;
  }
  .faq-section .col-lg-8 .qs-2 .qs-1-left {
    display: flex;
    justify-content: space-between;
    gap: 59px;
  }
  .faq-section .col-lg-8 .faq-ans {
    max-width: 624px;
    margin: 0 auto;
    margin-top: 16px;
    margin-bottom: 48px;
    color: var(--Dark-blue, #282938);
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    opacity: 0.87;
  }

  /* Footer Section Styles */
footer{
    background: #1C1E53;
    padding-top: 96px;
}
footer .col-lg-6 .contact-info{
    background: var(--Yellow, #FCD980);
    display: flex;
    padding-top: 18px;
    padding-left: 38px;
    padding-bottom: 16px;
    gap: 29px;
    max-width: 519px;
    margin-top: 86px;
}
footer .col-lg-6 .contact-info h5{
    color: var(--Dark-blue, #282938);
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
}
footer .col-lg-6 .contact-info p{
    color: var(--Dark-blue, #282938);
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 28px;
opacity: 0.8;
}
footer .col-lg-6 .left-p{
    color: var(--White, #FFF);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    max-width: 399px;
    margin-top: 22px;
    margin-bottom: 86px;
}

footer .col-lg-6 h2{
    color: #FFF;
font-family: Poppins;
font-size: 48px;
font-style: normal;
font-weight: 600;
line-height: 64px; 
  
}
footer .col-lg-6 .right-p{
    color: var(--Grey, #F4F6FC);
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 28px;
max-width: 399px;
margin-top: 14px;
margin-bottom: 28px;
}


/* Copyright Section */
.copyright{
    margin-top: 32px;
    padding-bottom: 32px;
    display: flex;
    justify-content: space-between;
}
.copyright ul{
   display: flex;
}
.copyright ul li{
   margin-left: 32px;
}
