/* Font Family */
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.manrope-font {
  font-family: "Manrope", system-ui;
}
.poppins-font {
  font-family: "Poppins", system-ui;
}

/* Common CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
li,
a {
  list-style-type: none;
  text-decoration: none;
  border:none
}

/* Header Styles */
header {
    padding-top: 16px;
    padding-bottom: 128px;
  background: #1c1e53;
}
header .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-items: center;
  margin-bottom: 126px;
}
header .nav-right {
  color: white;
  display: flex;
  gap: 48px;
  justify-items: center;
  justify-content: center;
  align-items: center;
}
header .nav-right button {
  border-radius: 41px;
  border: 2px solid rgba(244, 246, 252, 0.2);
  color: white;
  padding: 16px 48px;
  background: transparent;
}
header .nav-right button a {
  color: white;
}
header ul {
  display: flex;
  gap: 32px;
  padding-top: 20px;
}
header ul li {
  display: flex;
  gap: 32px;
}
header ul li a{
    color: #bbbbcb;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
}
header ul li a:hover{
    color: white;
    cursor: pointer;
 
}
header ul li a:visited{
    color: white;
 
}
/* Banner Section Styles */

.banner-contents h1{
    color: var(--White, #FFF);
    font-family: Poppins;
    font-size: 54px;
    font-weight: 600;
    line-height: 74px;
    margin-bottom: 24px;
}
.banner-contents p{
    color: var(--White, #FFF);

    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px; 
    opacity: 0.7;
    margin-bottom: 48px;
}
.banner-contents .btn-left{
    padding: 16px 56px;
    border-radius: 41px;
 background: #FCD980;
 
}
.banner-contents .btn-left a{
    color: #1B1C2B;
    font-family: Manrope;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px; 
    }

.banner-contents .btn-right{
    padding: 16px 56px;
    border-radius: 41px;
    background: transparent;
     border: none;
     color: #1B1C2B;
}
.banner-contents .btn-right:hover {
    background: #FCD980;
    transition: all linear .5s;
}

.banner-contents .btn-right a{
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    color: white;
}
.banner-contents .btn-right a:hover{
    color: black;
    transition: all linear .5s;
    
}

/* Work Section Styles */
.work-section{
    background: #F4F6FC;
    padding: 128px 0;
}
.work-section .col-lg-5 h3{
    color: var(--Dark-blue, #282938);
font-family: Poppins;
font-size: 48px;
font-style: normal;
font-weight: 600;
line-height: 64px;
}
.work-section .col-lg-5 p{
    color: var(--Dark-blue, #282938);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; 
    opacity: 0.7;
    margin: 16px 0;
    max-width: 405px;
}
.work-section .col-lg-5 button{
    border: none;
    background: transparent;
}
.work-section .col-lg-7 .upper-cards{
    margin-bottom: 48px;
}
.work-section .col-lg-7 .upper-cards h3{
    color: var(--Dark-blue, #282938);
font-family: Poppins;
font-size: 32px;
font-style: normal;
font-weight: 500;
line-height: 48px;
margin-bottom: 8px;
margin-top: 16px;
}
.work-section .col-lg-7 .upper-cards p{
    color: var(--Dark-blue, #282938);
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 28px;
opacity: 0.7;
}
.work-section .col-lg-7 .lower-cards h3{
    color: var(--Dark-blue, #282938);
font-family: Poppins;
font-size: 32px;
font-style: normal;
font-weight: 500;
line-height: 48px;
margin-bottom: 8px;
margin-top: 16px;
}
.work-section .col-lg-7 .lower-cards p{
    color: var(--Dark-blue, #282938);
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 28px;
opacity: 0.7;
}
