/* Font Family */
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.manrope-font {
  font-family: "Manrope", system-ui;
}
.poppins-font {
  font-family: "Poppins", system-ui;
}

/* Common CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
li,
a {
  list-style-type: none;
  text-decoration: none;
  border: none;
}

/* Header Styles */
header {
  padding-top: 16px;
  background: #1c1e53;
}
header .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-items: center;
}
header .nav-right {
  color: white;
  display: flex;
  gap: 48px;
  justify-items: center;
  justify-content: center;
  align-items: center;
}
header .nav-right button {
  border-radius: 41px;
  border: 2px solid rgba(244, 246, 252, 0.2);
  color: white;
  padding: 16px 48px;
  background: transparent;
}
header .nav-right button a {
  color: white;
}
header ul {
  display: flex;
  gap: 32px;
  padding-top: 20px;
}
header ul li {
  display: flex;
  gap: 32px;
}
header ul li a {
  color: #bbbbcb;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
}
header ul li a:hover {
  color: white;
  cursor: pointer;
}
header ul li a:active{
  color: white;
}

/* Pricing Plan Section Styles */

.pricing-plan{
    padding: 128px 0;
}
.pricing-plan h1{
    color: var(--Dark-blue, #282938);
font-family: Poppins;
font-size: 48px;
font-style: normal;
font-weight: 600;
line-height: 64px; 
}
.pricing-plan p{
    color: var(--Dark-blue, #282938);
text-align: justify;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 28px;
opacity: 0.7;
max-width: 562px;
margin: 0 auto;
margin-bottom: 64px;
}
.pricing-plan .cards1 .cards-top{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    
    
}
.pricing-plan .cards1 .cards-top h3{
    color: var(--Dark-blue, #282938);

    /* Heading 3 */
    font-family: Poppins;
    font-size: 38px;
    font-style: normal;
    font-weight: 600;
}
.pricing-plan .cards1:hover .cards-top h3{
  color: var(--White, #FFF);
}
.pricing-plan .cards1 .cards-top p{
    color: var(--Royal-Blue, #2405F2);
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
margin-top: 50px;
}
.pricing-plan .cards1:hover .cards-top p{
  color: var(--Yellow, #FCD980);

}
.pricing-plan .cards1 .cards-top h4{
    color: var(--Dark-blue, #070708);
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px; 
    margin-top: -100px;
}
.pricing-plan .cards1:hover h4{
  color: var(--White, #FFF);
}
.pricing-plan .cards1 button{
    padding: 25px 51px;
    border-radius: 41px;
background: var(--Dark-blue, #282938);
margin-top: 79px;
border: none;
}
.pricing-plan .cards1:hover button{
  background: var(--Yellow, #FCD980);
}

.pricing-plan .cards1 button a{
    color: var(--Grey, #F4F6FC);
font-family: Manrope;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: 32px;
}
.pricing-plan .cards1:hover button a{
  color: var(--Dark-blue, #282938);

}
.pricing-plan .cards1{
    border-radius: 12px;
background: var(--Grey, #F4F6FC);
padding: 64px 76px;
max-width: 400px;
margin-right: 15px;
margin-left: 15px;
}
.pricing-plan .cards1:hover{
  border-radius: 12px;
background: #1C1E53;
transition: all linear .7s;
}

.pricing-plan .cards1:hover p{
    color: var(--White, #FFF);

}
.pricing-plan .cards1:hover li{
    color: var(--White, #FFF);
}
.pricing-plan .cards1 li{
   list-style-type:square;
}

/* FAQ Section Styles */
.faq-section {
    background: #fff;
    padding: 128px 0;
  }
  .faq-section .col-lg-4 h2 {
    color: var(--Dark-blue, #282938);
    font-family: Poppins;
    font-size: 38px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
  }
  .faq-section .col-lg-4 button {
    border: none;
    background: none;
    margin-top: 16px;
  }
  .faq-section .col-lg-8 h3 {
    color: var(--Royal-Blue, #2405f2);
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px;
  }
  .faq-section .col-lg-8 h4 {
    color: var(--Dark-blue, #282938);
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px;
  }
  .faq-section .col-lg-8 .qs-1 {
    display: flex;
    justify-content: space-between;
  }
  .faq-section .col-lg-8 .qs-1 .qs-1-left {
    display: flex;
    justify-content: space-between;
    gap: 59px;
  }
  .faq-section .col-lg-8 .qs-2 {
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
    margin-bottom: 32px;
  }
  .faq-section .col-lg-8 .qs-2 .qs-1-left {
    display: flex;
    justify-content: space-between;
    gap: 59px;
  }
  .faq-section .col-lg-8 .faq-ans {
    max-width: 624px;
    margin: 0 auto;
    margin-top: 16px;
    margin-bottom: 48px;
    color: var(--Dark-blue, #282938);
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    opacity: 0.87;
  }

  /* Footer Section Styles */
footer{
    background: #1C1E53;
    padding-top: 96px;
}
footer .col-lg-6 .contact-info{
    background: var(--Yellow, #FCD980);
    display: flex;
    padding-top: 18px;
    padding-left: 38px;
    padding-bottom: 16px;
    gap: 29px;
    max-width: 519px;
    margin-top: 86px;
}
footer .col-lg-6 .contact-info h5{
    color: var(--Dark-blue, #282938);
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
}
footer .col-lg-6 .contact-info p{
    color: var(--Dark-blue, #282938);
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 28px;
opacity: 0.8;
}
footer .col-lg-6 .left-p{
    color: var(--White, #FFF);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    max-width: 399px;
    margin-top: 22px;
    margin-bottom: 86px;
}

footer .col-lg-6 h2{
    color: #FFF;
font-family: Poppins;
font-size: 48px;
font-style: normal;
font-weight: 600;
line-height: 64px; 
  
}
footer .col-lg-6 .right-p{
    color: var(--Grey, #F4F6FC);
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 28px;
max-width: 399px;
margin-top: 14px;
margin-bottom: 28px;
}


/* Copyright Section */
.copyright{
    margin-top: 32px;
    padding-bottom: 32px;
    display: flex;
    justify-content: space-between;
}
.copyright ul{
   display: flex;
}
.copyright ul li{
   margin-left: 32px;
}

